<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../src/styles/style.css">
</head>
<body>
    <div class="w-[200] h-[100] bg-pink-300 ">
        <div class="box-img">
            <img class="mx-auto w-[60] h-[20]" src="../asset/footerimg.png" alt=""></div>
           
    </div>
</body>
</html>