<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class="w-[95%] h-[400px] bg-pink-300 mx-auto rounded-xl flex flex-col items-center justify-center ">
        <div class="">
         <div>
            <img class="mx-auto w-[300px] h-[150px] " src="../asset/footerimg.png" alt="">
         </div>
        
        </div>
        <div class="h-[150px]">
            <div class="flex justify-center space-x-6 mt-4 text-amber-900 ">
                <i class="fa-brands fa-square-facebook text-4xl"></i>
                <i class="fa-brands fa-square-twitter text-4xl"></i>
                <i class="fa-brands fa-square-pinterest text-4xl"></i>
                <i class="fa-brands fa-linkedin text-4xl"></i>
             </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 text-[#8B5E3C] font-medium mt-6">
            <div class="">
                <p class="text-sm ms-7">Telephone</p>
                <p class="font-bold">+(855) 45678975</p>
            </div>
            <div class="">
                <p class="text-sm ms-5">Address</p>
                <p class="font-bold">Phnom Penh</p>
            </div>
            <div class="">
                <p class="text-sm ms-7">Working Hours</p>
                <p class="font-bold">Mon to Fri - 8:00 to 17:00</p>
            </div>
        </div>
      </div>
    </div>

    
    
    
    
</body>
</html>