<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-[200] h-[100] bg-pink-300 mx-auto justify-between">
        <img class="px-5 py-5" src="/src/ assets/images/Pasted image.png" alt="">
            <div class="mt-4 sm:mt-0">
                <ul class="flex space-x-6 justify-center sm:justify-end">
                  <li><a href="#" class="hover:text-gray-400"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#" class="hover:text-gray-400"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" class="hover:text-gray-400"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</html>